<table style="margin:auto; width: 100%; box-sizing: border-box;">
{% for member in site.data.Fonti_Bibliografiche %}
  <tr>
    <td style="width: 65%; margin:auto;" >
      <table style="margin:auto; width: 100%; box-sizing: border-box; overflow-x: auto;">
       <tr>
	 <td>Autore/Autori</td>
         <td>{{member.autore}}</td>
       </tr>
       <tr>
	<td>Titolo</td>
	<td>{{member.titolo}}</td>
       </tr>
       <tr>
	<td>Sottotitolo</td>
	<td>{{member.sottotitolo}}</td>
       </tr>
       <tr>
	<td>Casa Editrice</td>
	<td>{{member.editrice}}</td>
       </tr>
      </table>
    </td>
    <td style="width: 35%; margin:auto;" >
      <!-- <table style="margin:auto; width: 100%; box-sizing: border-box; overflow-x: auto;" >
       <tr>
         <td> -->
           <a href="{{member.url_foto_copertina}}" target="_blank"><img src="{{ member.url_foto_copertina}}" style="width:100%;" /></a>
         <!-- </td>
       </tr>
      </table> -->
    </td>
  </tr>
{% endfor %}
</table>
