<table>
{% for member in site.data.Fonti_Bibliografiche %}
  <tr>
    <td>
      <table>
       <tr>
         <td>{{member.autore}}</td>
       </tr>
       <tr>
	<td>{{member.titolo}}</td>
       </tr>
       <tr>
	<td>{{member.sottotitolo}}</td>
       </tr>
       <tr>
	<td>{{member.editrice}}</td>
       </tr>
      </table>
    </td>
    <td>
      <table>
       <tr>
         <td>
           <a href="{{member.url_foto_copertina}}" target="_blank"><img src="{{ member.url_foto_copertina}} width="50%" /></a>
         </td>
       </tr>
      </table>
    </td>
  </tr>  
{% endfor %}
</table>
