<script type="text/javascript">
function parseGetVars()
{
  var args = new Array();
  var query = window.location.search.substring(1);
  if (query)
  {
    var strList = query.split('&');
    for(str in strList)
    {
      var parts = strList[str].split('=');
      args[unescape(parts[0])] = unescape(parts[1]);
    }
  }
  return args;
}</script>

<script type="text/javascript">
var get = parseGetVars();
var neviera = get['neviera'];
//document.write(neviera);
</script>

<script type="text/javascript">
  
  CSV.fetch({
    url: 'https:nevieredisicilia.github.io/neviere/Neviere_di_Sicilia.csv'
    }
  ).done(function(dataset) {
    var lista_neviere = dataset.records;
    var i;
    for (i = 0; i < lista_neviere.length; i++) { 
      var curr_neviera = lista_neviere[i];	  
         if (curr_neviera[2] === neviera) {
            selected_neviera = curr_neviera;
	    return selected_neviera;
	    
         }
    };	  
  });
  
  
	
/*
  CSV.fetch({
    url: 'https:nevieredisicilia.github.io/neviere/Neviere_di_Sicilia.csv'
    }
  ).done(function(dataset)) {
     var lista_neviere = new Array();
     var lista_campi = new Array();
     lista_neviere = dataset.records;
     lista_campi = dataset.fields;
  });	  
  document.write(neviere);
  var lista_neviere = new Array();	
  var lista_neviere = neviere.records;
  var curr_neviera = new Array();
  var selected_neviera = new Array();
  var i;
  for (i = 0; i < lista_neviere.length; i++) { 
    curr_neviera = lista_neviere[i];	  
    if (curr_neviera[2] == neviera) {
          selected_neviera = curr_neviera; 
    }
   };	
*/   
</script>
<h3>Neviera: <script type="text/javascript">document.write(neviera);</script><br/><br/>

{% capture selectedneviera %}<script>document.write(neviera);</script>{% endcapture %}
a {{selectedneviera}}
<table>
{% for member in site.data.Neviere_di_Sicilia %}
  {% comment %}{% if member.name == selectedneviera %}{% endcomment %}

   		<tr>
			<td>Nome Neviera</td><td>{{member.name}}</td>
		</tr>
		<tr>
			<td>Comune di</td><td>{{member.comune}} ({{member.provincia}})</td>	
		</tr>
{% comment %}{% endif %}{% endcomment %}
{% endfor %}	
</table>	
