<script type="text/javascript">
function parseGetVars()
{
  var args = new Array();
  var query = window.location.search.substring(1);
  if (query)
  {
    var strList = query.split('&');
    for(str in strList)
    {
      var parts = strList[str].split('=');
      args[unescape(parts[0])] = unescape(parts[1]);
    }
  }
  return args;
}</script>

<script type="text/javascript">
var get = parseGetVars();
var neviera = get['neviera'];
//document.write(neviera);
</script>
<h3>Neviera: <script type="text/javascript">document.write(neviera);</script><br/><br/>

<script>	
var data;
	$.ajax({
	  type: "GET",  
	  url: "https:nevieredisicilia.github.io/neviere/Neviere_di_Sicilia.csv",
	  dataType: "text",
      async:false,      
	  success: function(response)  
	  {
		tutto = $.csv.toArrays(response);
		var i;
		for (i = 0; i < tutto.length; i++) {
		    var curr_neviera = tutto[i];	  
            if (curr_neviera[2] === neviera) {
			data = curr_neviera;
		    }		
		//generateHtmlTable(data);
	    }   
	  }
	});
</script>
<table>
    <tr>
	<td>Nome Neviera</td><td><script>document.write(data[2]);</script></td>
    </tr>
    <tr>
	<td>Comune di</td><td><script>document.write(data[4]);</script> (<script>document.write(data[5]);</script>)</td>	
    </tr>
</table>
