<p>Work in Progress!</p>
<table style="margin:auto; width: 100%;">
{% for member in site.data.Testimonianze %}
  <tr> 
    <td>
      <table style="border: 1px solid black;">      
       <tr>
		<td>Registrazione Audio</td>
		<td><a href={{member.url_audio_video}} target="_blank"><img src="https://nevieredisicilia.github.io/images/audio_file_icon.png" alt="click per ascoltare la registrazione audio" style="display: block; width: 60px; height: auto;" /></a></td>
       </tr>
	   <tr>
		<td>Autore dell'Intervista</td>
        <td>{{member.autore_intervista}}</td>
       </tr>
       <tr>
	   <tr>
		<td>Data dell'Intervista</td>
        <td>{{member.data_intervista}}</td>
       </tr>
	   <tr>
		<td>Luogo dell'Intervista</td>
        <td>{{member.luogo_intervista}}</td>
       </tr>
       <tr>
		<td>Nome e Cognome Soggetto Intervistato</td>
		<td>{{member.nome_cognome_intervistato}}</td>
       </tr>
       <tr>
		<td>Data di Nascita Soggetto Intervistato</td>
		<td>{{member.data_nascita_intervistato}}</td>
       </tr>
	   <tr>
		<td>Età del Soggetto Intervistato all'epoca dell'intervista</td>
		<td>{{member.eta_intervistato}}</td>
       </tr>
       <tr>
	   <tr>
		<td>Notizie sul Soggetto Intervistato</td>
		<td>{{member.notizie_su_intervistato}}</td>
       </tr>
       <tr>	   
		<td>Descrizione dell'Intervista</td>
		<td>{{member.descrizione_intervista}}</td>
       </tr>
       <tr>
		<td>Durata dell'Intervista in minuti</td>
		<td>{{member.durata_intervista_minuti}}</td>
       </tr>	
      </table>
    </td>
  </tr>
{% endfor %}
</table>
