<table style="margin:auto; width: 100%;">
{% for member in site.data.Testi %}
  <tr>
    <td style="width: 20%;">
      <table>
       <tr>	      
         <td>
           <a href={{member.url_testo}} target="_blank"><img src={{member.url_foto_copertina}} style="display: block; width: 100%; height: auto; margin: 0 auto;" /></a>
	 </td>
	</tr>
      </table>	      
    </td>	  
    <td style="width: 80%;">
      <table>
       <tr>
	 <td>Autore/Autori</td>
         <td>{{member.autore}}</td>
       </tr>
       <tr>
	<td>Titolo</td>
	<td>{{member.titolo}}</td>
       </tr>
       <tr>
	<td>Sottotitolo</td>
	<td>{{member.sottotitolo}}</td>
       </tr>
       <tr>
	<td>Note</td>
	<td>{{member.note}}</td>
       </tr>
       <tr>
	<td>Casa Editrice</td>
	<td>{{member.editrice}}</td>
       </tr>
       <tr>
	<td>Luogo di Pubblicazione</td>
	<td>{{member.luogo_pubblicazione}}</td>
       </tr>
       <tr>
	<td>Anno di Pubblicazione</td>
	<td>{{member.anno_pubblicazione}}</td>
       </tr>
       <tr>
	<td>Numero di Pagine</td>
	<td>{{member.n_pagine}}</td>
       </tr>	      
      </table>
    </td>
  </tr>
{% endfor %}
</table>
