---
---

@import "{{ site.theme }}";
.main-content { max-width: 120rem; }

.page-header {
  color: #ffffff;
  background-color: transparent;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("/images/neviera_monte_fossa_neve_1264.jpg");
  width: 100%;
  height: auto;
  align: center
}
