---
---

@import "{{ site.theme }}";
.main-content { max-width: 120rem; }

.page-header {
  /*width: 100rem;*/
  color: #ffffff;
  background-color: transparent;
  /*background-size: auto;*/
  background-image: url("/images/neviera_monte_fossa_neve_640.jpg")
}
