---
---

@import "{{ site.theme }}";
.main-content { max-width: 120rem; }

.page-header {
  width: initial;
  color: #ffffff;
  background-color: transparent;
  background-image: url("/images/neviera_monte_fossa_neve.jpg")
}
